* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: calc(100% - 330px);
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.header .row {
    justify-content: space-between;
}

.header {
    background-color: #e0e0e0;
    padding: 21.84px 0;
}

.header a {
    color: #3A3845;
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.header ul {
    display: flex;
}

.list ul {
    gap: 60px;
}

.icons ul {
    gap: 24px;
}

.menu {
    display: none;
}

@media screen and (max-width: 995px) {
    .list {
        display: none;
    }

    .icons {
        display: none;
    }

    .menu {
        display: block;
    }

    .container {
        width: calc(100% - 150px);
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

.collections {
    background-color: #FFFFFF;
    padding: 80px 0;
}

.collections .row {
    gap: 30px;
}

.collection {
    width: calc((100% - 90px) / 4);
}

.collection img {
    width: 100%;
    display: block;
}

.collection h2 {
    margin-top: 23px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 24px;
}

@media screen and (max-width: 992px) {
    .collection {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 600px) {
    .collection {
        width: 100%;
    }
}

.sellers-section {
    padding: 80px 0;
}

.best-sellers h2 {
    font-family: "EB Garamond", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 48px;
    text-align: center;
}

.sellers-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: stretch;
}

.seller {
    width: calc((100% - 90px) / 4);
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3A3845;
    display: flex;
    flex-direction: column;
}

.seller img {
    width: 100%;
    display: block;
}

.seller h3 {
    margin-top: 20px;
    font-family: Inter, sans-serif;
    font-size: 22px;
    min-height: 60px;
}

.seller h4 {
    font-size: 22px;
    font-family: Inter, sans-serif;
    margin-bottom: 20px;
}

.seller p {
    color: #807F86;
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-cart {
    margin-top: auto;
    background-color: white;
    width: 100%;
    height: 39px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 3px solid #ddd;
    outline: none;
}

.btn-cart:hover {
    background-color: rgba(128, 128, 128, 0.308);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .seller {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 600px) {
    .seller {
        width: 100%;
    }
}

@media screen and (max-width: 1014px) {
    .list {
        display: none;
    }

    .icons {
        display: none;
    }

    .menu {
        display: block;
    }
}


.hero{

    position: relative; 

}
.hero-img {
    width: 100%;
}


.banner{
    background-color: #826F66;
    z-index: 100;
    position: absolute;
    width: 420px;
    height: 100%;
}




.banner {
    background-color: #826F66;
    position: absolute;
    top: 0;
    left: 165px;
    width: 420px;
    height: 100%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}


.banner p {
    color: white;
    font-family: Inter, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-img {
    width: 100%;
    display: block;
}
.banner h1 {
    color: white;
    font-family: "EB Garamond", serif;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.banner a {
    background-color: white;
    color: #826F66;
    padding: 12px 35px;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 14px;
    transition: 0.3s;
}

.banner a:hover {
    background-color: #eee;
}



@media (max-width: 768px) {
    .banner {
        position: static;
        width: 100%;
        height: auto;
    }
}


.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: #fce803;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}

.github-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 8px;

  background: #111;
  color: white;
  padding: 10px 14px;
  border-radius: 50px;
  text-decoration: none;

  font-family: Arial, sans-serif;
  font-size: 14px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  transition: 0.3s;
  z-index: 999;
}

.github-btn:hover {
  transform: scale(1.1);
  background: #333;
}

.github-btn svg {
  fill: white;
}

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.svgIcon {
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}

.Btn:hover {
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}